<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_registration_path(current_user) ,method: :get %>
  </div>
  <div class="logout- bar">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
  </div>
</div>
  <div class="date-select">
    <label for="deadline">実施日選択</label>
      <a href="#">日付選択</a>
  </div>

<div class="side-bar-main">

  <div class= "task-header">
    タスク一覧
  </div>
        
  <input type="text" placeholder="追加するタスクを記入" class="task-form">
  <input type="submit" value="追加" class="send">
    
    <div class="task">
      <div class="task-name">
        <a href="#">タスク１</a>
      </div>
    </div>
    
    <div class="task">
      <div class="task-name">
        <a href="#">タスク２</a>
      </div>
    </div>

</div>